USE [QuanLyBanHang1]
GO
/****** Object:  Table [dbo].[ChiTietHangHoaBan]    Script Date: 10/09/2025 4:01:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHangHoaBan](
	[MaHHBan] [nchar](50) NOT NULL,
	[MaHangHoa] [nchar](20) NOT NULL,
	[SoLuongBan] [int] NOT NULL,
	[GiamGia] [float] NOT NULL,
	[MaNhanVien] [nchar](50) NOT NULL,
	[MaKhachHang] [nchar](50) NOT NULL,
	[NgayBan] [datetime] NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_ChiTietHangHoaBan] PRIMARY KEY CLUSTERED 
(
	[MaHHBan] ASC,
	[MaHangHoa] ASC,
	[MaNhanVien] ASC,
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 10/09/2025 4:01:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaHangHoa] [nchar](20) NOT NULL,
	[TenHangHoa] [nvarchar](200) NOT NULL,
	[LoaiChatLieu] [nvarchar](200) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGiaNhap] [float] NOT NULL,
	[DonGiaBan] [float] NOT NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_HangHoa] PRIMARY KEY CLUSTERED 
(
	[MaHangHoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 10/09/2025 4:01:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [nchar](50) NOT NULL,
	[HoDemKH] [nvarchar](200) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nchar](15) NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/09/2025 4:01:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [nchar](50) NOT NULL,
	[HoDemNV] [nvarchar](200) NOT NULL,
	[TenNV] [nvarchar](100) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[SoDienThoai] [nchar](15) NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 10/09/2025 4:01:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TaiKhoan] [nchar](50) NOT NULL,
	[MatKhau] [nchar](50) NOT NULL,
	[Email] [nchar](100) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoDemNV], [TenNV], [GioiTinh], [NgaySinh], [SoDienThoai], [DiaChi], [GhiChu]) VALUES (N'NV03                                              ', N'Nguyễn Duy', N'Nam', N'Nam', CAST(N'1987-09-07T00:00:00.000' AS DateTime), N'0328793322     ', N'Vĩnh phúc', N'')
GO
INSERT [dbo].[TaiKhoan] ([TaiKhoan], [MatKhau], [Email]) VALUES (N'admin                                             ', N'12345678                                          ', N'duytung98vp@gmail.com                                                                               ')
GO
ALTER TABLE [dbo].[ChiTietHangHoaBan]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHangHoaBan_HangHoa] FOREIGN KEY([MaHangHoa])
REFERENCES [dbo].[HangHoa] ([MaHangHoa])
GO
ALTER TABLE [dbo].[ChiTietHangHoaBan] CHECK CONSTRAINT [FK_ChiTietHangHoaBan_HangHoa]
GO
ALTER TABLE [dbo].[ChiTietHangHoaBan]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHangHoaBan_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[ChiTietHangHoaBan] CHECK CONSTRAINT [FK_ChiTietHangHoaBan_KhachHang]
GO
ALTER TABLE [dbo].[ChiTietHangHoaBan]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHangHoaBan_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[ChiTietHangHoaBan] CHECK CONSTRAINT [FK_ChiTietHangHoaBan_NhanVien]
GO
